<div class = "text-body">

        <h2>Welcome to the MMDA Traffic Incident information portal</h2>
        <p>I created this dataset to share traffic data with anyone who is interested. As far as I know, this does not represent all the incidents in Metro Manila. The MMDA's jurisdiction is mainly the national roads so the location bias is mainly towards the national roads (EDSA, C5, etc).</p>
        <p>This data is MMDA ALERT data that is parsed from the MMDA Twitter page. The data was gathered through the Twitter API and I have a Python script that parses through the tweet text to get the relevant data. At the moment the dataset only starts from August 20, 2018 due to my free tier access of the Twitter API..</p>
        <p></p>
        <blockquote class="blockquote">
        <p class="mb-0">Thank you to the MMDA for sharing incident reports through their Twitter page in a structured manner.</p>
        <footer class="blockquote-footer">Panji Brotoisworo <cite title="Source Title">kaggle.com</cite></footer>
      </blockquote>
